<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="documentation">
        <dir
          name="src">
          <dir
            name="docs">
            <dir
              name="asciidoc">
              <dir
                name="docinfos"/>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="example">
                <dir
                  name="defaultmethods"/>
                <dir
                  name="exception"/>
                <dir
                  name="testinterface"/>
                <dir
                  name="timing"/>
              </dir>
              <dir
                name="extensions"/>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-api">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="api">
                      <dir
                        name="extension"/>
                      <dir
                        name="function"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-engine">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="engine">
                      <dir
                        name="descriptor"/>
                      <dir
                        name="discovery">
                        <dir
                          name="predicates"/>
                      </dir>
                      <dir
                        name="execution"/>
                      <dir
                        name="extension"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="api">
                      <dir
                        name="extension"/>
                    </dir>
                    <dir
                      name="engine">
                      <dir
                        name="bridge"/>
                      <dir
                        name="descriptor">
                        <dir
                          name="subpackage"/>
                      </dir>
                      <dir
                        name="discovery">
                        <dir
                          name="predicates"/>
                      </dir>
                      <dir
                        name="execution">
                        <dir
                          name="injection">
                          <dir
                            name="sample"/>
                        </dir>
                      </dir>
                      <dir
                        name="extension">
                        <dir
                          name="sub"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-migrationsupport">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="migrationsupport">
                      <dir
                        name="rules">
                        <dir
                          name="adapter"/>
                        <dir
                          name="member"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="migrationsupport">
                      <dir
                        name="rules"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-params">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="params">
                      <dir
                        name="converter"/>
                      <dir
                        name="provider"/>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="params">
                      <dir
                        name="converter"/>
                      <dir
                        name="provider"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-commons">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="commons">
                      <dir
                        name="annotation"/>
                      <dir
                        name="logging"/>
                      <dir
                        name="support"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-console">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="console">
                      <dir
                        name="options"/>
                      <dir
                        name="tasks"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-console-standalone">
        <dir
          name="src">
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="standalone"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-engine">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="engine">
                      <dir
                        name="discovery"/>
                      <dir
                        name="reporting"/>
                      <dir
                        name="support">
                        <dir
                          name="descriptor"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="hierarchical"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="engine">
                      <dir
                        name="test">
                        <dir
                          name="event"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-launcher">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="launcher">
                      <dir
                        name="core"/>
                      <dir
                        name="listeners"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-runner">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="runner"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-suite-api">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="suite">
                      <dir
                        name="api"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-surefire-provider">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="surefire">
                      <dir
                        name="provider"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="surefire">
                      <dir
                        name="provider"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-vintage-engine">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="vintage">
                    <dir
                      name="engine">
                      <dir
                        name="descriptor"/>
                      <dir
                        name="discovery"/>
                      <dir
                        name="execution"/>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="vintage">
                    <dir
                      name="engine">
                      <dir
                        name="discovery"/>
                      <dir
                        name="execution"/>
                      <dir
                        name="samples">
                        <dir
                          name="junit3"/>
                        <dir
                          name="junit4"/>
                      </dir>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="platform-tests">
        <dir
          name="src">
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="api">
                    <dir
                      name="tools"/>
                  </dir>
                  <dir
                    name="jupiter">
                    <dir
                      name="extensions"/>
                  </dir>
                  <dir
                    name="platform">
                    <dir
                      name="commons">
                      <dir
                        name="support"/>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="console">
                      <dir
                        name="options"/>
                      <dir
                        name="subpackage"/>
                      <dir
                        name="tasks"/>
                    </dir>
                    <dir
                      name="engine">
                      <dir
                        name="discovery"/>
                      <dir
                        name="support">
                        <dir
                          name="descriptor"/>
                        <dir
                          name="hierarchical"/>
                      </dir>
                    </dir>
                    <dir
                      name="launcher">
                      <dir
                        name="core"/>
                      <dir
                        name="listener"/>
                    </dir>
                    <dir
                      name="runner"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="checkstyle"/>
        <dir
          name="eclipse"/>
        <dir
          name="javadoc"/>
        <dir
          name="spotless"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5">
    <class_paths/>
  </java_options>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
