<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="documentation">
        <dir
          name="src">
          <dir
            name="docs">
            <dir
              name="asciidoc">
              <dir
                name="docinfos"/>
              <dir
                name="tocbot-3.0.2"/>
            </dir>
          </dir>
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="example">
                <dir
                  name="domain"/>
                <dir
                  name="registration"/>
                <dir
                  name="util"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="example">
                <dir
                  name="callbacks"/>
                <dir
                  name="defaultmethods"/>
                <dir
                  name="exception"/>
                <dir
                  name="registration"/>
                <dir
                  name="testinterface"/>
                <dir
                  name="testkit"/>
                <dir
                  name="timing"/>
              </dir>
              <dir
                name="extensions"/>
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="api">
                    <dir
                      name="tools"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-api">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="api">
                      <dir
                        name="condition"/>
                      <dir
                        name="extension"/>
                      <dir
                        name="function"/>
                      <dir
                        name="io"/>
                      <dir
                        name="parallel"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-engine">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="engine">
                      <dir
                        name="config"/>
                      <dir
                        name="descriptor"/>
                      <dir
                        name="discovery">
                        <dir
                          name="predicates"/>
                      </dir>
                      <dir
                        name="execution"/>
                      <dir
                        name="extension"/>
                      <dir
                        name="script"/>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="api">
                      <dir
                        name="condition"/>
                      <dir
                        name="extension"/>
                      <dir
                        name="subpackage"/>
                    </dir>
                    <dir
                      name="engine">
                      <dir
                        name="bridge"/>
                      <dir
                        name="config"/>
                      <dir
                        name="descriptor">
                        <dir
                          name="subpackage"/>
                      </dir>
                      <dir
                        name="discovery">
                        <dir
                          name="predicates"/>
                      </dir>
                      <dir
                        name="execution">
                        <dir
                          name="injection">
                          <dir
                            name="sample"/>
                        </dir>
                      </dir>
                      <dir
                        name="extension">
                        <dir
                          name="sub"/>
                      </dir>
                      <dir
                        name="script"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-migrationsupport">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="migrationsupport">
                      <dir
                        name="conditions"/>
                      <dir
                        name="rules">
                        <dir
                          name="adapter"/>
                        <dir
                          name="member"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="migrationsupport">
                      <dir
                        name="conditions"/>
                      <dir
                        name="rules"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-jupiter-params">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="params">
                      <dir
                        name="aggregator"/>
                      <dir
                        name="converter"/>
                      <dir
                        name="provider"/>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="params">
                      <dir
                        name="aggregator"/>
                      <dir
                        name="converter"/>
                      <dir
                        name="provider"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-commons">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="commons">
                      <dir
                        name="annotation"/>
                      <dir
                        name="function"/>
                      <dir
                        name="logging"/>
                      <dir
                        name="support"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-commons-java-9">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="commons">
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="commons">
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-console">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="console">
                      <dir
                        name="options"/>
                      <dir
                        name="tasks"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-engine">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="engine">
                      <dir
                        name="discovery"/>
                      <dir
                        name="reporting"/>
                      <dir
                        name="support">
                        <dir
                          name="config"/>
                        <dir
                          name="descriptor"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="hierarchical"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-launcher">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="launcher">
                      <dir
                        name="core"/>
                      <dir
                        name="listeners"/>
                      <dir
                        name="tagexpression"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-reporting">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="reporting">
                      <dir
                        name="legacy">
                        <dir
                          name="xml"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-runner">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="runner"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-suite-api">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="suite">
                      <dir
                        name="api"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-platform-testkit">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="platform">
                    <dir
                      name="testkit">
                      <dir
                        name="engine"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="junit-vintage-engine">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="vintage">
                    <dir
                      name="engine">
                      <dir
                        name="descriptor"/>
                      <dir
                        name="discovery"/>
                      <dir
                        name="execution"/>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="vintage">
                    <dir
                      name="engine">
                      <dir
                        name="descriptor"/>
                      <dir
                        name="discovery"/>
                      <dir
                        name="execution"/>
                      <dir
                        name="samples">
                        <dir
                          name="junit3"/>
                        <dir
                          name="junit4"/>
                      </dir>
                      <dir
                        name="support"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="platform-tests">
        <dir
          name="src">
          <dir
            name="jmh">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="jmh"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="junit">
                  <dir
                    name="jupiter">
                    <dir
                      name="extensions"/>
                  </dir>
                  <dir
                    name="platform">
                    <dir
                      name="commons">
                      <dir
                        name="function"/>
                      <dir
                        name="support"/>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="console">
                      <dir
                        name="options"/>
                      <dir
                        name="subpackage"/>
                      <dir
                        name="tasks"/>
                    </dir>
                    <dir
                      name="engine">
                      <dir
                        name="discovery"/>
                      <dir
                        name="support">
                        <dir
                          name="config"/>
                        <dir
                          name="descriptor"/>
                        <dir
                          name="hierarchical"/>
                      </dir>
                    </dir>
                    <dir
                      name="fakes"/>
                    <dir
                      name="launcher">
                      <dir
                        name="core"/>
                      <dir
                        name="listeners"/>
                      <dir
                        name="tagexpression"/>
                    </dir>
                    <dir
                      name="reporting">
                      <dir
                        name="legacy">
                        <dir
                          name="xml"/>
                      </dir>
                    </dir>
                    <dir
                      name="runner"/>
                    <dir
                      name="testkit">
                      <dir
                        name="engine"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="platform-tooling-support-tests">
        <dir
          name="projects">
          <dir
            name="ant-starter">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="project"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="project"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gradle-missing-engine">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="gradle-starter">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="project"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="project"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="java-versions">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-starter">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="project"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="project"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="multi-release-jar">
            <dir
              name="default">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="integration">
                      <dir
                        name="integration"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="no-scripting">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="integration">
                      <dir
                        name="integration"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="standalone">
            <dir
              name="src">
              <dir
                name="standalone"/>
            </dir>
          </dir>
          <dir
            name="vintage">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="vintage"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="platform">
                <dir
                  name="tooling">
                  <dir
                    name="support"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="platform">
                <dir
                  name="tooling">
                  <dir
                    name="support">
                    <dir
                      name="tests"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="checkstyle"/>
        <dir
          name="eclipse"/>
        <dir
          name="javadoc"/>
        <dir
          name="spotless"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5">
    <class_paths/>
  </java_options>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
